* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #f2f2f2;
  animation: opening 1s ease;
}

nav {
  height: 10vh;
  position: relative;
}

.back {
  cursor: pointer;
  position: absolute;
  position: -webkit-sticky;
  position: fixed;
  top: 6%;
  left: 3%;
  transition: all 0.2s ease;
}

.nav-Links li a {
  color: #f3f4ed;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.2s ease-in;
}

.nav-Links li a:hover {
  color: #95b3b9;
}

.hamburger {
  cursor: pointer;
  position: absolute;
  transform: translate(-5%, -50%);
  z-index: 2;
  position: -webkit-sticky;
  position: fixed;
  top: 6%;
  right: 3%;
}

.line {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: #f44d28;
  transition: all 0.2s ease;
}
.nav-Links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  position: fixed;
  background-color: #07576c;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  clip-path: circle(100px at 100% -30%);
  -webkit-clip-path: circle(100px at 100% -20%);
  transition: all 0.7s ease-out;
  pointer-events: none;
  z-index: 1;
}
.nav-Links.open {
  clip-path: circle(2500px at 90% -10%);
  -webkit-clip-path: circle(2500px at 90% -10%);
  pointer-events: all;
}

.nav-Links li {
  opacity: 0;
}

.nav-Links li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}
.nav-Links li:nth-child(2) {
  transition: all 0.5s ease 0.3s;
}
.nav-Links li:nth-child(3) {
  transition: all 0.5s ease 0.4s;
}
li.fade {
  opacity: 1;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -5px);
}
/* Website */
/* Jison.html */
.jison-detailPage {
  display: flex;
  width: 80%;
  margin: 0 auto 0 auto;
  min-height: 88vh;
  justify-content: space-between;
  align-items: center;
}

.hero-img {
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  padding-left: 5rem;
}

.visitSite {
  padding: 1rem 2rem;
  background: none;
  border: none;
  color: black;
  border: 1px solid black;
  font-size: 1rem;
  text-decoration: none;
  align-self: flex-start;
  cursor: pointer;
}
.jison-detailPage h2 {
  font-family: "Abril Fatface";
  font-size: 5rem;
}

.jison-detailPage p {
  padding: 3rem 0rem;
  font-size: 1.5rem;
  color: black;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

footer img {
  width: 15rem;
}

@media screen and (max-width: 1081px) {
  .jison-detailPage h2 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1503px) {
  body {
    width: 100%;
    margin: 0;
  }
  .slide {
    display: block;
    width: 80%;
    text-align: center;
  }
  .hero-desc {
    align-items: center;
    padding: 0;
  }
  .slide h2 {
    margin-top: 2rem;
    text-align: center;
  }
  .visitSite {
    align-self: center;
  }
}

.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0);
}

/* fades */

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
