* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #f2f2f2;
}

nav {
  height: 10vh;
  position: relative;
}

.nav-Links li a {
  color: #f3f4ed;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.2s ease-in;
}

.nav-Links li a:hover {
  color: #95b3b9;
}

.back {
  cursor: pointer;
  position: absolute;
  position: -webkit-sticky;
  position: fixed;
  top: 6%;
  left: 3%;
  transition: all 0.2s ease;
}

.hamburger {
  cursor: pointer;
  position: absolute;
  transform: translate(-5%, -50%);
  z-index: 2;
  position: -webkit-sticky;
  position: fixed;
  top: 6%;
  right: 3%;
}

.line {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: #f44d28;
  transition: all 0.2s ease;
}
.nav-Links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  position: fixed;
  background-color: #07576c;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  clip-path: circle(100px at 100% -30%);
  -webkit-clip-path: circle(100px at 100% -20%);
  transition: all 0.7s ease-out;
  pointer-events: none;
  z-index: 1;
}
.nav-Links.open {
  clip-path: circle(2500px at 90% -10%);
  -webkit-clip-path: circle(2500px at 90% -10%);
  pointer-events: all;
}

.nav-Links li {
  opacity: 0;
}

.nav-Links li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}
.nav-Links li:nth-child(2) {
  transition: all 0.5s ease 0.3s;
}
.nav-Links li:nth-child(3) {
  transition: all 0.5s ease 0.4s;
}
li.fade {
  opacity: 1;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -5px);
}

/* carousel slider */
.carousel {
  position: relative;
  height: 70vh;
  width: 70%;
  margin: 5rem auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: scale-down;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#prevBtn {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: #07586c85;
  transition: all 0.1s ease;
}

#nextBtn {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: #07586c85;
  transition: all 0.1s ease;
}

#prevBtn:hover,
#nextBtn:hover {
  color: #07586c;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #07586c85;
  margin: 15px 10px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: #07586c;
}

.carousel .hidden {
  display: none;
}

.project-name {
  text-align: center;
  color: #07586c85;
  font-size: 2vw;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-description {
  text-align: center;
  margin-top: 5rem;
  font-size: 1vw;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

footer img {
  width: 15rem;
}
