.form-section {
  min-height: 80vh;
  @include flex(center, center, row);
  margin-top: 3rem;

  form {
    padding: 3rem 10rem;
    background: #f3f4ed;
    border: solid rgba(96, 143, 145, 0.24) 5px;
    @include flex(center, center, column);
    border-radius: 5px;

    label {
      color: rgba(0, 0, 0, 0.61);
    }

    input,
    textarea {
      background-color: #f3f4ed;
      color: rgba(0, 0, 0, 0.61);
      margin: 2rem;
      padding: 1rem 2rem;
      border: 5px solid rgba(96, 143, 145, 0.24);
      transition: all 0.2s ease;
      border-radius: 5px;
      &:focus {
        background: rgba(96, 143, 145, 0.24);
        color: rgba(96, 143, 145, 0.966);
      }
    }
    textarea {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 2.5rem;
    }
    button {
      width: 100%;
      padding: 1rem;
      border: none;
      background-color: rgba(96, 143, 145, 0.24);
      color: rgba(0, 0, 0, 0.61);
      transition: all 0.2s ease;
      cursor: pointer;

      border-radius: 5px;
    }
    button:hover {
      transform: scale(1.05);
      background: #07586cc2;
      color: #f3f4ed;
      border-radius: 5px;
    }
  }
}

footer {
  height: 10vh;
  width: 80%;
  margin: auto;
  @include flex(justify-content, center, column);

  img {
    margin-top: 3.5rem;
    width: 25rem;
  }
  //h5 {
  //  font-size: $header6;
  //  font-weight: lighter;
  //  margin: 10rem 0 5rem 0;
  //}
}
