.website-divider {
  width: 100%;
  min-height: 20vh;
  @include flex(flex-end, center, column);

  h1 {
    width: 80%;
    margin: auto;
    font-size: 8vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: rgba(96, 143, 145, 0.24);
  }
}

.line {
  position: relative;
  width: 100%;
  margin: auto;
}

.line-inside {
  width: 95%;
  margin-left: 2.5%;
  border: 0.01vw solid rgba(96, 143, 145, 0.24);
  position: absolute;
}

.projects_website {
  width: 80%;
  margin: auto;
  @include flex(center, center, row);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20rem;
  flex-wrap: wrap;
  h2 {
    font-size: $header4;
    font-family: "arial", sans-serif;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.61);
  }
  h3 {
    font-size: $header5;
    font-family: "arial", sans-serif;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.61);
    margin-top: 0.5rem;
  }

  img {
    width: 45rem;
    margin: 6rem 2rem 2rem 2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  img:hover {
    transform: scale(1.05);
  }
}

.projects_3d {
  width: 80%;
  margin: auto;
  @include flex(center, center, row);
  text-align: center;
  flex-wrap: wrap;
  h2 {
    font-size: $header4;
    font-family: "arial", sans-serif;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.61);
  }
  h3 {
    font-size: $header5;
    font-family: "arial", sans-serif;
    font-weight: 100;
    margin-top: 0.5rem;
    color: rgb(68, 73, 73);
  }
  img {
    width: 45rem;
    margin: 6rem 2rem 2rem 2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  img:hover {
    transform: scale(1.05);
  }
}

.view3dprojects {
  @include flex(center, flex-start, row);
  button {
    border: none;
    background-color: #07576c;
    color: #f2f2f2;
    cursor: pointer;
    margin: 3rem 0 20rem 0;
    padding: 2rem 5rem;
    transition: all 0.2s ease-in-out;
  }
  button:hover {
    transform: scale(1.05);
  }
}

.projects_deinebyina {
  width: 80%;
  margin: auto;
  @include flex(center, center, row);
  text-align: center;
  flex-wrap: wrap;
  h2 {
    font-size: $header4;
    font-family: "arial", sans-serif;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.61);
  }
  h3 {
    font-size: $header5;
    font-family: "arial", sans-serif;
    font-weight: 100;
    color: rgb(68, 73, 73);
  }
  img {
    width: 45rem;
    margin: 6rem 2rem 2rem 2rem;
  }
}

.viewshop {
  @include flex(center, flex-start, row);
  button {
    border: none;
    background-color: #07576c;
    color: #f2f2f2;
    cursor: pointer;
    margin: 3rem 0 10rem 0;
    padding: 2rem 5rem;
    transition: all 0.2s ease-in-out;
  }
  button:hover {
    transform: scale(1.05);
  }
}

.branding {
  width: 100%;
  height: 20vh;
}
.branding-divider {
  @include flex(center, center, row);
  h1 {
    font-size: 10rem;
    color: rgba(169, 169, 169, 0.233);
  }
}
