* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
p,
a {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background: #f2f2f2;
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 20vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

nav .logo img {
  width: 2.5rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 60rem;
          flex: 2 1 60rem;
}

nav ul li {
  margin: 2rem;
}

.intro {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  margin-top: 10rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro-text {
  width: 100%;
}

.hello {
  width: 30rem;
}

.empty-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7 1 10rem;
          flex: 0.7 1 10rem;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.text .hello {
  margin-right: 30rem;
}

.text h3 {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
}

.intro-image {
  width: 100%;
}

.intro-image img {
  width: 100%;
  margin-top: 5rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.social img {
  width: 4rem;
  margin: 1rem 0 0 1rem;
}

.active {
  background: #07576c;
  color: #f2f2f2;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
}

footer {
  height: 10vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify-content;
      -ms-flex-pack: justify-content;
          justify-content: justify-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer img {
  width: 25rem;
}

#hello {
  -webkit-animation: hello 1s ease infinite alternate;
          animation: hello 1s ease infinite alternate;
}

@-webkit-keyframes hello {
  from {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes hello {
  from {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@media screen and (max-width: 1413px) {
  html {
    font-size: 53%;
  }
  .main-head {
    width: 100%;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  nav ul {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 60rem;
            flex: 2 1 60rem;
  }
}

@media screen and (max-width: 849px) {
  .logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 455px) {
  html {
    font-size: 35%;
  }
  .intro-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro-image img {
    width: 120%;
    rotate: 90deg;
  }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.website-divider {
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.website-divider h1 {
  width: 80%;
  margin: auto;
  height: 20vh;
  font-size: 8vw;
  color: rgba(169, 169, 169, 0.233);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(96, 143, 145, 0.24);
}

.line {
  position: relative;
  width: 100%;
  margin: auto;
}

.line-inside {
  width: 80%;
  margin-left: 10%;
  border: 0.01vw solid rgba(96, 143, 145, 0.24);
  position: absolute;
}

.projects {
  width: 80%;
  margin: auto;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects h2 {
  margin: 1rem;
  font-size: 2rem;
  font-family: "arial", sans-serif;
  font-weight: 100;
  color: #444949;
}

.projects h3 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-family: "arial", sans-serif;
  font-weight: 100;
  color: #444949;
}

.projects img {
  margin-bottom: 5rem;
  width: 45rem;
  margin: 0 1rem 0 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.projects img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.projects02 {
  width: 80%;
  margin: auto;
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects02 h2 {
  margin: 1rem;
  font-size: 2rem;
  font-family: "arial", sans-serif;
  font-weight: 100;
  color: #444949;
}

.projects02 h3 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-family: "arial", sans-serif;
  font-weight: 100;
  color: #444949;
}

.projects02 img {
  margin-bottom: 5rem;
  width: 45rem;
  margin: 0 1rem 0 1rem;
}

.viewshop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.viewshop button {
  border: none;
  background-color: #07576c;
  color: #f2f2f2;
  cursor: pointer;
  margin: 3rem 0 10rem 0;
  padding: 2rem 5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.viewshop button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.branding {
  width: 100%;
  height: 20vh;
}

.branding-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.branding-divider h1 {
  font-size: 10rem;
  color: rgba(169, 169, 169, 0.233);
}

.form-section {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 3rem;
}

.form-section form {
  padding: 3rem 10rem;
  border: solid #07576c 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2rem;
}

.form-section form input,
.form-section form textarea {
  background-color: #ff6441;
  color: #f2f2f2;
  margin: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
}

.form-section form input:focus,
.form-section form textarea:focus {
  outline: 5px solid #07576c;
}

.form-section form textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
}

.form-section form button {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: #ff6441;
  color: #07576c;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
}

.form-section form button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #07576c;
  color: #ff6441;
  border-radius: 5px;
}

.form-section form label {
  color: #07576c;
}

footer {
  height: 10vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify-content;
      -ms-flex-pack: justify-content;
          justify-content: justify-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer img {
  margin-top: 3.5rem;
  width: 25rem;
}
/*# sourceMappingURL=style.css.map */